

/* _______________ GENERAL STYLES _______________ */

body {
font-family:'Arial', sans-serif;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
height: 100vh;
}

.container{
    text-align: center;
    max-width: 500px;
    width: 100%;
    padding: 0,5rem;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #7DE8BD;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    margin: 0.5rem;
    color: #2D3047;
}

.game-info{
    margin-bottom: 2rem;
}


/* _______________ PLAYER SETUP STYLES _______________ */

.player-setup {
    padding-bottom: 5px;
    border-radius: 2rem;
    border: 5px solid #7DE8BD;
    margin: 1rem;
}

.name-inputs {
    margin: 0.3rem;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-group label {
    margin: 8px;
    font-weight: bold;
    color: #2D3047;
    font-size: 1.1rem;
}

.input-group input {
    width: 75%;
    padding: 10px;
    font-size: 1rem;
    border: 3px solid #C04ABC;
    border-radius: 10px;
    box-sizing: border-box;

}

.input-group input:focus {
    outline: none;
    border-color: #7DE8BD;
    box-shadow: 0 0 10px rgba(125, 232, 189, 0.3);
}


/* _______________ GAME BOARD STYLES _______________ */

/*general game board style*/
.game-board{
    /*display each btn as a table 3*3*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
    max-width: 350px;
    background: #E0A458;
    border-radius: 12px;
    margin: 0 auto 30px;
    box-shadow: 0 20px 20px 20px #E0A458;
}

/*cell style*/

.cell{
    aspect-ratio: 1;
    background: #FFDBB5;
    border: none;
    border-radius: 8px;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.controls {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.btn {
    padding: 12px 24px;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-primary {
    background: #7de8bd;
    color: #000000;
    border: 2px solid #C04ABC;
}

.btn-secondary {
    background: transparent;
    color: #000000;
    border: 2px solid #C04ABC;
}

.game-status {
    font-size: 1.5rem;
    margin: 30px;
    padding: 12px 20px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    color: #2D3047;
    transition: all 0.3s ease;
}

.score-board {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    padding: 1rem;
    border: 5px solid #7DE8BD;
    border-radius: 4rem;
}

.score {
    text-align: center;
}

.score-label {
    font-size: 0,9rem;
    color: #000000;
    margin-bottom: 5px;
}

.scoreX, .scoreTie, .scoreO {
    padding: 0.8rem;
    border: 3px solid;
    border-radius: 1rem;
}

.scoreX {
    border-color: #C04ABC;
    background: #eea2eb;
}

.scoreTie {
    border-color: #E0A458;
    background: #fad8ac;
}

.scoreO {
    border-color: #2D3047;
    background: #a9aed7;
}

.score-value {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
}


/* _______________ INTERACTIVE STYLES _______________ */


/* cells */
.cell:hover:not(.taken){
    background: #E0A458;
    /*transform: scale(1.05);*/
    cursor: pointer;
}

.cell.taken{
    cursor: not-allowed;
}


/* buttons */
.btn-primary:hover {
    background: #C04ABC;
    color: #7DE8BD;
    cursor: pointer;
    transform: translateY(-2px)
}

.btn-secondary:hover {
    background: #C04ABC;
    color: #7DE8BD;
    cursor: pointer;
    transform: translateY(-2px)
}


/* GAME STATUS */

/*normal state*/
.status-turn {
    background-color: transparent;
    border: 3px solid #C04ABC;
}

/*status win*/
.status-win {
    background-color: #7DE8BD;
    border: 3px solid #C04ABC;
}

/*status tie*/
.status-draw {
    background-color: #E0A458;
    color: black;
}

/*status error*/
.status-error {
    background-color: #e74c3c;   /* rojo */
    border: 3px solid #8b1e14;
}


/*this classes are going to be controlled from the js file*/
.cell.X{
    color: #C04ABC;

}

.cell.O{
    color:#2D3047;
}


/*animation for the winner cells*/
.cell.winner{
    background:#7DE8BD;
    animation: winner-glow 0.6s ease-in-out;
}



/* _______________ MEDIA QUERIES _______________ */

/* for smaller screens */

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }

  .cell {
    font-size: 2rem;
  }

  .controls {
    flex-direction: column;
    align-items: center;
  }

  .btn {
    width: 200px;
  }
}

