/* general reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* general structure */

* {
  box-sizing: border-box;
}

html {
font-size: 16px;
font-family: sans-serif;
background-color: #fcfcfc;
}

body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    padding: 0 1rem;
    color:#283618;
}

header {
  background-color: #ffffff;
  padding: 1rem;
}

input, button {
    border-radius: 1rem;
    border: 1px solid #283618;
    padding: 0,6rem;
    height: 2rem;
}

.btn-remove {
  background-color: #dda15e;
  border: 1px solid #bc6c25;
  border-radius: 0.5rem;
  padding: 0.3rem 0.6rem;
}

#tofu-input {
 flex-grow: 1;
 background-color: #ffffff;
 width: 100%;
 border: 1px solid #000000;
 padding: 1rem;
 border-radius: 1rem;
}  

#color-input {
 flex-grow: 1;
 background: none;
 border: 1px solid #000000;
 border-radius: 1rem;
}  

#add-button {
 flex-grow: 1;
 background-color: #606c38;
 padding: 0 1rem;
 border: 1px solid #000000;
 border-radius: 1rem;
 font-weight: bold;
}  

#add-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    background-color: white;
}

main {
  padding: 1rem;
  background-color: white;
  flex-grow: 1;
  margin: 1rem;
}

/*BUTTONS - GENERAL USER RESPONSIVE RULES*/

/*all buttons*/
button:hover {
    cursor: pointer;
}

/*toogle buttons*/
.toggle-btn:hover {
    background-color: #dda15e;
}

.toggle-btn:active {
    background-color: #bc6c25;
    color: #ffffff;
}

/*+ button*/
#add-btn:hover {
    background-color: #dda15e;
}

#add-btn:active {
    background-color: #bc6c25;
    color: #ffffff;
}

/*X button*/
.btn-remove:hover {
  background-color: #dda15e;
  color: white;
}

.btn-remove:active {
  background-color: #bc6c25;
  color: white;
}

/*tofu text input*/
#tofu-input:hover {
 background-color: #dda15e;
} 

#tofu-input:active {
 background-color: #ffffff;
} 

/*color input*/
#color-input:hover {
 flex-grow: 1;
 border-color: #dda15e;
}  

#color-input:active {
 flex-grow: 1;
  border-color: #bc6c25;
}  


/* list element */

li {
  list-style-type: none;
}


/* view list mode toggle */

#view-toggle-container {
    display: flex;
    gap: 1rem;    
}

.toggle-btn {
    background-color: #ffffff;
    width: 50%;
}



/*_______________ tofu recipes list _______________ */

/*card view*/

ul.card-view { 
    display: flex;
    flex-wrap: wrap; 
}

li {
    display: block;
    width: 100%;
}

ul.card-view li {
    background-color: #fefae0;
    border-radius: 1rem;
    height: 3rem;
    border: 1px solid #606c38;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

/*list view*/

ul.list-view {
    list-style-type: disc;
    padding: 1rem;
}

ul.list-view li {
  padding: 1rem 0;
  border-bottom: 1px solid #283618;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

/* Media query for larger screens */
@media (min-width: 768px) {
    ul.card-view li {
        width: calc(33.333% - 0.75rem);
        margin-right: 1rem;
    }
    
    ul.card-view li:nth-child(3n) {
        margin-right: 0;
    }
}
